* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

.hero-section {
    padding-top: 40px;
}

.top-text {
    margin: 22px 0px;
    margin-bottom: 15px;
    background: #0072B1;
    color: white;
    height: 36px;
    width: 289px;
    border-radius: 18px;

    & p {
        line-height: 36px;
    }

}

.top-heading {
    font-size: 46px;
}

.first-para {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    margin-right: 200px;


    & span {
        color: #0072B1;
    }
}

.line-img {
    display: none;
}

.timer {
    margin-top: -60px;
    margin-bottom: 40px;
}

.bg-image {
    background-image: url(img/bg-real.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}


.image-text p {
    font-size: 12px;
    font-weight: 600;
}

.check-list p {
    font-size: 11px;
}

.play-btn {
    margin-left: -30px;
    margin-top: -15px;

    & h3 {
        font-size: 19px;
        margin-left: -15px;
    }
}

.glowing-play-btn {
    margin-left: -15px;
    width: 100px;
    height: 100px;
}

.arrow-img {
    margin-left: -10px;
    margin-top: -30px;
}

.kartik-img {
    margin-left: -20px;
}

.display-none {
    display: block;
    text-align: center;
}

.register {
    margin: 0px 0 0 0;
    padding: 10px 0;
    background: #0072B1;
    color: white;
    height: 90px;
    border-radius: 5px;
    width: 70%;

    & p {

        font-size: 26px;
        font-weight: 700;
    }
}

.fst-number {
    background: #EEEEEE;
    font-size: 34px;
    width: 70.44px;
    height: 58.94px;

    & p {
        line-height: 58px;
        font-weight: bold;
        color: #0072B1;

    }
}

.blue-bg {
    background-image: url(img/host-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.host-btn {
    padding: 10px 20px;
    background: linear-gradient(90deg, #7899BE -192.35%, #0060D0 99.8%);
    width: 118px;
    border-radius: 40px;
}


.dark-blue-bg {
    background: #144379;
    border-radius: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;

    & .host-btn {
        width: 165.32px;
        height: 50px;
        background: linear-gradient(#7899BE, #0060D0);
        border-radius: 25px;
        margin-top: -25px;
        display: none;

        & a {
            line-height: 50px;
        }
    }

    & h4 {
        font-size: 18px;
        margin-bottom: 20px;
        display: none;
    }

    & img {
        width: 453px;
        height: 565px;
    }



}

.rating {

    display: none;

    & stars {
        background-color: #1E4666;

    }

    & span {
        font-size: 12px;
        line-height: 19.5px;
        font-weight: 600;
    }
}

.stars {
    background-color: #1E4666;
    padding-bottom: 3px;
    border-radius: 21px;
    width: 130px;
    margin-top: 5px;

    & img {
        height: 14px;
        width: 15px;
    }
}

.counter {
    display: flex;
}

.register-2 {
    margin: 22px 0px 0 0px;
    padding: 10px 0;
    background: #ffffff;
    color: #0072B1;
    height: 90px;
    border-radius: 5px;
    width: 70%;

    & p {
        /* line-height: 64px; */
        font-size: 26px;
        font-weight: 700;
    }
}

.limited-seat {
    font-size: 15px;
    text-align: center;
    display: none;

    & span {
        color: #0072B1;
    }
}

.bg-img-light {

    & span {
        color: #0072B1;
    }
}

.laptop-img img {
    width: 100%;
}

.laptop-img .register {
    display: none;
}

.check-list p {
    font-size: 18px;
}

.dark-bg {
    background-image: url(img/Rectangle\ 722.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-img {
    display: none;
}

.dark-bg .img img {
    width: 100%;
}

.name p {
    font-size: 15px;
}

.last-section {
    background-image: url(img/last-bg.png);

    & h4 {
        font-size: 45px;

    }
}

.review-section .review-img {
    margin-top: -50px;
    width: 100%;

    & h4 {
        font-size: 45px;
    }
}

footer p {
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
}


@media screen and (max-width: 480px) {

    .hero-section {
        padding: 0;

    }

    .top-text {
        margin: 0px auto;
        margin-bottom: 15px;
    }

    .top-heading {
        font-size: 22px;
        text-align: center;
    }

    .first-para {
        text-align: center;
        margin: 0 20px;

    }

    .line-img {
        display: block;
    }

    .bg-image {
        width: 100%;

        & .check-list p {
            font-size: 11px;
        }

    }

    .display-none {
        display: none;
    }

    .dark-blue-bg {
        width: 100%;
        border-radius: 26px;
        height: 100%;
        margin-top: 80px;
        align-items: center;
        gap: 20px;
        padding: 0 20px;

        & h4 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        & .host-btn {

            display: block;
            padding: 0;

        }

        & img {
            width: 100%;
            height: 100%;
        }

        & h4 {
            display: block;

        }
    }

    .host-btn {
        display: none;
    }

    .blue-bg {
        padding-top: 30px;
        padding-left: 0;
    }

    .rating {
        display: flex
    }

    .counter {
        display: none;
    }

    .heading-para {
        text-align: center;
    }

    .register-2 {
        height: 64px;
        width: 100%;

        & span {
            display: none;
        }
    }

    .register {
        margin-top: 20px;
        height: 64px;
        width: 100%;

        & p {
            line-height: auto;
        }

        & span {
            display: none;
        }
    }

    .laptop-img .register {
        display: block;
    }

    .laptop-img .limited-seat {
        display: block;
    }

    .get-section .register {

        display: none;
    }

    .bg-img-light {
        background-image: url(img/s\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dark-bg .register {
        width: 100%;
    }

    .display-img {
        display: inline;
    }

    .hide-mobile-img {
        display: none;
    }

    .limited-seat {
        display: block;
    }

    .last-section {

        & h4 {
            font-size: 24px;
        }
    }
}